<!-- app.component.html -->
<div class="container mt-3">
  <h2>Venta Producto</h2>
  <form class="card p-3 mt-3" [formGroup]="form" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <h4>Imagen:</h4>
          <div
            style="
              max-width: 500px;
              max-height: 500px;
              min-width: 300px;
              min-height: 300px;
              overflow: hidden;
            "
          >
            <img
              src="{{ form.value.imageurl }}"
              alt="Product Image"
              class="img-thumbnail"
            />
          </div>
        </div>
        <div class="form-group mt-2">
          <h4>Nombre Producto:</h4>
          <p>{{ form.value.name }}</p>
        </div>
        <div class="form-group">
          <h4>Descripción:</h4>
          <p>{{ form.value.description }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <h4>Cantidad Disponible:</h4>
          <p>{{ form.value.quantity }} Unidades</p>
        </div>
        <div class="form-group">
          <h4 for="productPrice">Precio Unidad:</h4>
          <p>{{ form.value.price }} Bs</p>
        </div>
        <div class="form-group">
          <h4 for="productPrice">Precio Total:</h4>
          <p>{{ form.value.price * form.value.quantityToBuy }} Bs</p>
        </div>
        <div class="form-group" *ngIf="isDebt">
          <h4 for="productPrice">Monto Total Deuda:</h4>
          <p>{{ ((form.value.price * form.value.quantityToBuy) - form.value.montPayed) }} Bs</p>
        </div>
        <div class="form-group mb-2" *ngIf="isDebt">
          <h4>Carnet Cliente:</h4>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="form.value.ciclient"
            name="idclient"
            formControlName="ciclient"
            list="list-clients"
            id="input-datalist"
            (change)="saveCode($event)"
          />
          <datalist id="list-clients">
            <option *ngFor="let c of clients" [value]="c.ci" >{{c.ci}} - {{c.name}}</option>
          </datalist>
        </div>
        <div class="form-group mb-2" *ngIf="form.value.nameclient!=''">
          <h4 for="productPrice">Nombre Cliente:</h4>
          <p>{{ form.value.nameclient }}</p>
        </div>
        <div class="form-group mb-2">
          <h4>Cantidad a comprar:</h4>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="form.value.quantityToBuy"
            name="quantityToBuy"
            formControlName="quantityToBuy"
            required
          />
        </div>
        <div
          *ngIf="
            form.controls.quantityToBuy.invalid &&
            (form.controls.quantityToBuy.dirty ||
              form.controls.quantityToBuy.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="form.controls.quantityToBuy.errors?.required">
            La cantidad es requerida.
          </div>
          <div *ngIf="form.controls.quantityToBuy.errors?.min">
            La cantidad debe ser mayor a 0.
          </div>
        </div>
        <div class="form-group mt-1 mb-1">
          <h4>Monto Cancelado:</h4>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="form.value.montPayed"
            name="montPayed"
            formControlName="montPayed"
            required
          />
        </div>
        <div
          *ngIf="
            form.controls.montPayed.invalid &&
            (form.controls.montPayed.dirty ||
              form.controls.montPayed.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="form.controls.montPayed.errors?.required">
            El monto cancelado es requerido.
          </div>
          <div *ngIf="form.controls.montPayed.errors?.min">
            El monto cancelado debe ser minimo 0 bs.
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-left mt-1">
            <button
              type="submit"
              class="btn btn-primary m-1"
              [disabled]="form.invalid"
            >
              Vender
            </button>
            <button
              type="button"
              class="btn btn-secondary m-1"
              routerLink="/products"
            >
              Cancelar
            </button>
          </div>
          <div class="form-check mt-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              (click)="prestamoBuy($event)"
            />
            <h5 class="form-check-label" for="flexCheckDefault">
              ¿Prestamo?
            </h5>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
